BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
DerivePointerAlignment: false
IndentWidth: 4
InsertBraces: true
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
Standard: c++20
TabWidth: 4
UseTab: Never
